@import '../../assets/styles/colors.scss';

#page-content {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.plan-image {
  max-height: 90vh;
}

#search-container {
  margin: 100px 100px;
  text-align: center;
  height: 100%;
}

.quickest-path-container, .easiest-path-container {
  display: inline-block;
}
.easiest-path-container {
  vertical-align: top;
  margin-left: 60px;
}

.mat-icon {
  vertical-align: text-bottom;
  color: $primary-blue;
}

.path-container {
  padding: 30px;
  width: 100%;
}

.path-divider {
  height: 60px;
  width: 1px;
  margin-left: 10px;
  margin-right: 5px;
}

.step-label {
  font-size: large;
}

.duration-span {
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-button {
  display: block;
}

.time-span {
  color: gray;
}