<div id="page-content">
  <img class="plan-image" src="../../assets/images/planMetroTCL.png" />
  <div *ngIf="quickestPath?.length == 0 && shortestPath?.length == 0; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <mat-card id="search-container" >
      <h1>Recherche d'itinéraire</h1>
      <mat-form-field appearance="fill">
        <mat-label>Départ</mat-label>
        <mat-select [(value)]="selectedDepart">
          <mat-option *ngFor="let noeud of noeuds" [value]="noeud.id">{{noeud.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Destination</mat-label>
        <mat-select [(value)]="selectedDestination">
          <mat-option *ngFor="let noeud of noeuds" [value]="noeud.id">{{noeud.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="onSubmit()">Valider</button>
    </mat-card> 
  </ng-template>

  <ng-template #elseBlock>
    <div class="path-container">
        <h1>Itinéraires</h1> 
        <div class="quickest-path-container">
          <h2>Chemin le plus rapide</h2>
          <span class="time-span">Trouvé en {{dijkstrasTime}} millisecondes</span>
          <div *ngFor="let etape of quickestPath; let index = index; let isLast = last">
            <mat-icon>location_on</mat-icon><span class="step-label">{{etape.label}}</span>
            <mat-divider *ngIf="!isLast" [vertical]="true" class="path-divider"></mat-divider>
            <p class="duration-span" *ngIf="isLast">Durée totale du trajet : {{etape.distanceFromSource}}</p>
          </div>
        </div>
        <div *ngIf="!arePathsEquals()" class="easiest-path-container">
          <h2>Chemin le plus facile</h2>
          <span class="time-span">Trouvé en {{lengthTime}} millisecondes</span>
          <div *ngFor="let etape of shortestPath; let index = index; let isLast = last">
            <mat-icon>location_on</mat-icon><span class="step-label">{{etape.label}}</span>
            <mat-divider *ngIf="!isLast" [vertical]="true" class="path-divider"></mat-divider>
            <p class="duration-span" *ngIf="isLast">Durée totale du trajet : {{etape.distanceFromSource}}</p>
          </div>
        </div>
        <button class="new-button" color="primary" mat-raised-button (click)="newItineraire()">Nouvel itinéraire</button>
    </div>
  </ng-template>

</div>