@import '../../../assets/styles/colors.scss';

#navbar-container {
  padding-top: 15px;
  position: fixed;
  width: 15vh;
  height: 100vh;
  background-color: $primary-blue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#navbar-esgi-logo {
  width: 80%;
  vertical-align: middle;
}